/************************************
GENERAL
************************************/
  body {
    background-color: #4393B9;
  }
  main {
    min-height: 900px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .navbar-text {
    margin-left: 15px;
  }
  .footer {
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #E5E5E5;
  }
  footer {
    background-color: #fff;
  }

/************************************
START SCREEN 
************************************/
  #start-screen {
    border-bottom: none;
    margin-top: -20px;
  }

  #start-screen h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }

  .thing-form {
    margin: 20px 0;
  }

  .hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
  }
  .powered-by {
    height:80px;
  }


  .start-button {
    max-width:400px;
    margin:20px auto;
  }


/************************************
D3 CHART
************************************/
  #viz {
    height:550px;
    width:1000px;
    border:4px solid #ddddee;
    border-radius: 10px;
    background-color: #dddddd;
  }
  #viz g.dots  {
    transform: translate(50px,50px);
  }
  #viz g.x.axis{
    transform: translate(50px, 480px);
  }
  #viz g.y.axis{
    transform: translate(50px, 50px);
  }
  .axis line, .axis path {
    stroke-width: 1;
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
  }

  g circle, g circle+text {
    cursor: pointer;
  }


/************************************
STOCKS SEARCH
************************************/
  .nav.nav-pills > li > a {
    background-color: #222;
    margin: 8px;
  }
  form {
    margin:20px auto;
    position: relative;
  }
  .form-control.new-stock-input, .searchbox, .form-horizontal  {
    width:300px;
    margin: auto;
  }

  #stocks-autocomplete {
    padding:0;
    width: 320px;
    position: absolute;
    top:38px;
    left:0;
    height:240px;
    overflow-y:auto;
    overflow-x: none;
  }
  #stocks-autocomplete li.form-control {
    width: 300px;
    cursor:pointer;
  }
  .full-stocks, .add-stocks {
    clear:both;
  }
  .main-container {
    float: left;
    position: relative;
    left: 50%;
  }
  .fixer-container {
    float: left;
    position: relative;
    left: -50%;
  }