<div ng-include="'components/navbar/navbar.html'"></div>

<main>
  <div class="container hero-unit" id="start-screen">
    <h1>Stocks</h1>
    <p class="lead">powered by</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman" class="powered-by">
    <img src="assets/images/mongodb.png" alt="mongoDB logo" class="powered-by">
    <img src="assets/images/express.png" alt="ExpressJS logo" class="powered-by">
    <img src="assets/images/angular.png" alt="angularJS logo" class="powered-by">
    <img src="assets/images/node.png" alt="nodeJS logo" class="powered-by">
    <button class="btn btn-lg btn-default btn-block start-button" ng-click="getMarkitData()">START</button>
  </div>
  <div class="container" id="stocks-screen">
    <div id="viz-wrapper">
      <svg id="viz"></svg>
    </div>
    <div id="selected-stocks" class="main-container">
      <div class="fixer-container">
        <ul class="nav nav-pills text-center" >
          <li ng-repeat="stock in stocksData">
            <a href="#" tooltip="{{stock.Symbol + ' Stock'}}" ng-style="{'color': colors[$index]}">{{stock.Symbol}} 
              <button type="button" class="close" ng-click="removeStock(stock.Symbol)"> &times; </button>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <form class="form-horizontal add-stocks">
      <div class="searchbox" ng-hide="stocks.length >= 10">
        <input type="text" ng-model="newStock" class="form-control new-stock-input" ng-change="searchStocks(newStock)" ng-model-options="{debounce: 500}" placeholder="Add Stock (Maximum 10 Stocks)">
        <ul id="stocks-autocomplete" ng-show="stocksSearch !== undefined">
          <li ng-repeat="stock in stocksSearch" class="form-control stock-select" data-symbol="{{stock.Symbol}}" ng-click="addStock(stock.Symbol)">{{stock.Symbol}} ({{stock.Name | limitTo: 20}}) </li>
        </ul>
      </div>
      <div class="full-stocks" ng-hide="stocks.length < 10">
        <p>Maximum stocks reached</p>
      </div>

    </form>

  </div>
</main>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.1 |
        <a href="https://twitter.com/lawlietblack">@lawlietblack</a>
  </div>
</footer>
