<div ng-include="'components/navbar/navbar.html'"></div>

<main class="hero-unit" id="banner">
  <div class="container" id="start-screen">
    <h1>Stocks</h1>
    <p class="lead">powered by</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman" class="powered-by">
    <img src="assets/images/mongodb.png" alt="mongoDB logo" class="powered-by">
    <img src="assets/images/express.png" alt="ExpressJS logo" class="powered-by">
    <img src="assets/images/angular.png" alt="angularJS logo" class="powered-by">
    <img src="assets/images/node.png" alt="nodeJS logo" class="powered-by">
    <button class="btn btn-lg btn-default btn-block start-button" ng-click="getMarkitData()">START</button>
  </div>
  <div class="container" id="stocks-screen">
    <div id="viz-wrapper">
      <svg id="viz"></svg>
    </div>
    <div id="selected-stocks">
      <h4 ng-show="loaded">Selected Stocks</h4>
      <ul class="nav nav-pills" >
        <li ng-repeat="stock in stocksData">
          <a href="#" tooltip="{{stock.Symbol + ' Stock'}}" ng-style="{'color': colors[$index]}">{{stock.Symbol}} 
            <button type="button" class="close" ng-click="removeStock(stock.Symbol)"> &times; </button>
          </a>
        </li>
      </ul>
      <pre>{{stocks}}</pre>
      <form class="form-horizontal" name="addStock">
        <input type="text" ng-model="newStock" class="form-control new-stock-input">
        <input class="btn btn-default" value="Add Stock" ng-click="addStock(newStock)" ng-disabled="!checkIfValid()"> 
      </form>
    </div>
  </div>
</main>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.1 |
        <a href="https://twitter.com/lawlietblack">@lawlietblack</a>
  </div>
</footer>
